node_modules
backend/ecom/db.sqlite3
/backend/ecom/ecom/__pycache__
/backend/ecom/store/__pycache__
*.pyc
*.pyc
*.Identifier
*.pyc
*.pyc
*.pyc
*.pyc
/old_backend/backend/api/__pycache__
*.pyc
/backend/ecom/store/__pycache__
/backend/ecom/store/migrations/__pycache__
*.pyc
